
<!doctype html>
<html>
  <head>
  <title>Nalyzing Senctence</title>

  </head>
  <body>
    <h3>Analyzing Sentence</h3>
    <form action="/" method="post">
      <label for="num1">Enter a sentence: </label><br>
        <input type="text" id="sentence" name="sentence"><br>
      <input type="submit" value="Submit">
    </form>

  <br>
  <h3>Result</h3>
  <p>tokenize: {{tokens}}</p><br>
  <p>part of speech: {{speech}}</p><br>
  <p>verb: {{verb}}</p><br>
  <p>noun: {{noun}}</p><br>
  


  </body>
</html>

